body{
    background-color: #6a329f;
}
h1{
    text-align: center;
}
.img_1,.img_2,.img_3,.img_4,.img_5,.img_6,.img_7,.img_8,.img_9,.img_10,.img_11{
    float: left;
    width: 150px;
    margin: 15px;
    padding: 15px;
    border: 3px solid wheat;
    display:inline;
}
.box{
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: relative;
    top: 100px;
    flex-wrap:wrap ;

}